<div class="py-5 bg-light">
  <div class="container">
    <center>
      <h2>Candidatos Afins | Órgão: <%= @public_tender.department %></h2>
      <p>Edital: <%= @public_tender.document_number %> | Código do Concurso: <%= @public_tender.code %> | Lista de Vagas: <%= @public_tender.tags %></p>
    </center>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>Profissões</th>
          </tr>
        </thead>
        <tbody>
          <% @candidates.each do |candidate| %>
          <tr>
            <td><%= link_to candidate.name, public_tenders_path(candidate) %></td>
            <td><%= link_to candidate.document_number.gsub(/^(\d{3})(\d{3})(\d{3})(\d{2})/, "\\1.\\2.\\3-\\4"), public_tenders_path(candidate) %></td>
            <td><%= candidate.birthdate %></td>
            <td><%= candidate.tags %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <%= paginate @candidates, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
