<div class="py-5 bg-light">
  <div class="container">
      <center>
        <h2>Concursos Afins | Candidato: <%= @candidate.name %></h2>
        <p>CPF: <%= @candidate.document_number.gsub(/^(\d{3})(\d{3})(\d{3})(\d{2})/, "\\1.\\2.\\3-\\4") %> | Profissões: <%= @candidate.tags %></p>
      </center>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Órgão</th>
            <th>Edital</th>
            <th>Código do Concurso</th>
            <th>Lista de vagas</th>
          </tr>
        </thead>
        <tbody>
          <% @public_tenders.each do |public_tender| %>
          <tr>
            <td><%= link_to public_tender.department, candidates_path(public_tender) %></td>
            <td><%= public_tender.document_number %></td>
            <td><%= link_to public_tender.code, candidates_path(public_tender) %></td>
            <td><%= public_tender.tags %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <%= paginate @public_tenders, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
